.d-flex .btn{
    background: green;
    border: 2px solid rgb(22, 119, 22);
    border-radius: 8px;
    color: #fff;
}
.d-flex .btn:hover{
    background: rgb(139, 194, 75);
    border: 2px solid rgb(22, 7, 228);
}

#right1 :hover{
    color: rgb(29, 82, 29);
    transition: 300ms;
}

.row .right2 {
    margin-left: -10px;
    height: 180px;
    width: 180px;
    border-radius: 10px;
}

.container .row .col .row .col a {
    background-color: rgb(34, 71, 34);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;

}

.container .row .col .row .col a :hover {
    background-color: rgb(201, 5, 119);
}
#column :hover{
    transform: scale(0.9);
    transition: 450ms;
    border-radius: 10px;
}

#items :hover {
    color: rgb(38, 128, 120);
    transition: 200ms;
}